@font-face {
  font-family: Anton;
  src: url("fonts/Oswald/Oswald-Light.ttf"); }

@font-face {
  font-family: Oswald-ExtraLight;
  src: url("fonts/Oswald/Oswald-ExtraLight.ttf"); }

@font-face {
  font-family: Oswald-Regular;
  src: url("fonts/Oswald/Oswald-Regular.ttf"); }

@font-face {
  font-family: Oswald-Medium;
  src: url("fonts/Oswald/Oswald-Medium.ttf"); }

@font-face {
  font-family: Oswald-Bold;
  src: url("fonts/Oswald/Oswald-Bold.ttf"); }

@font-face {
  font-family: CreteRound-SemiBoldItalic;
  src: url("fonts/CreteRound/CreteRound-Italic.ttf"); }

@font-face {
  font-family: Raleway-Medium;
  src: url("fonts/Raleway/Raleway-medium.ttf"); }

@font-face {
  font-family: Raleway-Regular;
  src: url("fonts/Raleway/Raleway-regular.ttf"); }

@font-face {
  font-family: Raleway-Bold;
  src: url("fonts/Raleway/Raleway-bold.ttf"); }

@font-face {
  font-family: Raleway-Light;
  src: url("fonts/Raleway/Raleway-Light.ttf"); }

@font-face {
  font-family: Raleway-ExtraLight;
  src: url("fonts/Raleway/Raleway-ExtraLight.ttf"); }

@font-face {
  font-family: Raleway-LightItalic;
  src: url("fonts/Raleway/Raleway-LightItalic.ttf"); }

* {
  list-style-type: none;
  font-family: Raleway-Regular;
  color: #585757;
  text-align: center; }
  * ul {
    padding: 0; }

h1 {
  text-align: center;
  font-family: Raleway-Medium;
  color: #585757;
  font-size: 24px;
  -webkit-filter: blur(0.3px);
  filter: blur(0.3px); }

h2 {
  font-family: Raleway-Regular;
  text-align: center;
  color: #585757;
  font-size: 32px;
  -webkit-filter: blur(0.3px);
  filter: blur(0.3px);
  margin-top: 0px; }

h3 {
  color: #585757; }

.streepje {
  height: 1px;
  background-color: #2cdf11;
  width: 100%;
  margin-top: 40px;
  float: left; }

.heading {
  position: absolute;
  margin-top: -20px;
  width: 400px;
  height: 40px;
  background-color: white;
  left: 50%;
  margin-left: -200px;
  float: left; }

.ul1 {
  margin-top: 20px;
  list-style-type: none;
  text-align: center; }
  .ul1 span {
    margin-top: 0px; }
  .ul1 h1 {
    margin-top: 0px;
    font-size: 24px; }
  .ul1 li {
    vertical-align: top;
    width: 195px;
    height: 350px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px; }

.titel {
  width: auto;
  height: 60px; }
  .titel h1 {
    text-align: center; }

#naam {
  float: left;
  font-family: Raleway-LightItalic;
  text-align: right;
  width: 100%;
  height: 50px;
  font-size: 24px;
  margin-top: 20px; }

#streepje2 {
  margin-top: 40px;
  margin-bottom: 40px; }

#streepje3 {
  margin-top: 50px;
  margin-bottom: 0px; }

#heading2 {
  width: 350px;
  margin-left: -175px; }

.lijstpersonen {
  float: left;
  margin-left: 20px;
  list-style-type: none; }
  .lijstpersonen .hockeybaas {
    width: 100%;
    height: 600px;
    margin-top: 20px; }
  .lijstpersonen img {
    width: 400px; }

.profiel .gegeven {
  margin-top: 2px;
  text-align: center;
  list-style-type: none;
  height: 25px;
  width: 100%; }

.profiel .gegeven:first-child {
  font-family: Raleway-Bold; }

#hot-header {
  margin-top: 50px; }

#dt-onderdelen {
  text-align: center;
  width: 100%;
  margin-left: 3vw;
  float: left;
  list-style-type: none;
  padding: 0; }
  #dt-onderdelen li:last-child {
    margin-bottom: 0px; }

#dt-header {
  width: 860px;
  height: 70px;
  margin-bottom: 30px;
  float: left;
  font-size: 35px; }

.dt-onderdeel {
  height: 250px;
  width: 94%;
  margin-bottom: 50px;
  float: left; }

.dt-picture {
  height: 240px;
  width: 400px;
  float: left;
  background-color: green;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.dt-left {
  float: left; }

.dt-right {
  float: right; }

.dt-textleft {
  float: left;
  margin-left: 15px; }

.dt-textright {
  float: right;
  margin-right: 15px; }

.dt-text-container {
  width: 370px;
  height: 240px; }

#dt-picture1 {
  background-image: url(cssimages/dt-persoonlijkecoach.jpg); }

#dt-picture2 {
  background-image: url(cssimages/dt-sportsmeetsbusiness.jpg); }

#dt-picture3 {
  background-image: url(cssimages/dt-trainingsprogramma.jpg); }

#dt-picture4 {
  background-image: url(cssimages/dt-verantwoordelijkheid.jpg); }

.dt-streepje {
  float: left; }

#dt-streepje1 {
  margin-top: 50px;
  margin-bottom: 50px; }

#dt-streepje2 {
  margin-top: 60px;
  margin-bottom: 30px; }
  #dt-streepje2 .heading {
    width: 600px;
    margin-left: -300px; }

#dt-heading2 {
  width: 500px;
  margin-left: -250px; }

#jot-streepje1 {
  margin-bottom: 40px; }

#jot-lijst {
  list-style-type: none;
  padding: 0; }
  #jot-lijst h1 {
    font-size: 20px; }

.jot-item {
  width: 400px;
  height: 180px;
  margin-top: 50px;
  text-align: center; }
  .jot-item h1 {
    margin-bottom: 20px; }

.jot-itemleft {
  float: left; }

.jot-itemright {
  float: right; }

.jot-titel {
  float: left;
  height: 30px;
  width: 100%;
  margin-bottom: 15px; }

.jot-text {
  float: left; }

#jot-contact-container {
  width: 100%;
  heigth: 300px;
  float: left;
  margin-top: 10px; }

#jot-contact {
  list-style-type: none;
  padding: 0; }
  #jot-contact li {
    width: 300px;
    float: left;
    overflow: hidden;
    height: 250px;
    text-align: center;
    margin-left: 87px; }
    #jot-contact li img {
      width: 200px; }
  #jot-contact li:last-child {
    float: right;
    margin-right: 87px;
    margin-left: 0px; }

#jot-streepje2 {
  margin-bottom: 50px; }

#schrijfjein-text {
  width: 100%;
  height: auto;
  float: left; }

@media screen and (min-width: 750px) {
  .lijstpersonen {
    margin-left: 20px;
    list-style-type: none; }
    .lijstpersonen .hockeybaas {
      width: 100%;
      height: 20vw;
      margin-top: 20vw;
      float: left; }
    .lijstpersonen img {
      float: left;
      width: 35vw; }
  .profiel {
    position: relative; }
    .profiel .gegeven {
      margin-top: 2px;
      text-align: left;
      list-style-type: none;
      height: 25px;
      float: right;
      width: 50vw; }
    .profiel .gegeven:first-child {
      font-family: Raleway-Bold; }
  #streepje3 {
    margin-bottom: -100px; } }

@media screen and (max-width: 880px) {
  .dt-onderdeel {
    height: auto;
    width: 94%;
    margin-bottom: 20px;
    margin-top: 0px;
    text-align: center; }
  .dt-text-container {
    width: 100%;
    height: auto; }
  .dt-picture {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px; }
  .jot-item {
    width: 100%;
    float: left;
    height: auto; }
  #jot-contact-container {
    width: 100%; }
  #jot-contact {
    width: 100%; }
    #jot-contact li {
      float: left;
      width: 100%;
      margin-bottom: 20px;
      display: inline-block;
      margin-left: 0px;
      margin-right: 0px; }
    #jot-contact li:last-child {
      margin-left: 0px;
      margin-right: 0px; }
  #jot-streepje2 {
    margin-top: 70px; } }
