@font-face {
  font-family: Anton;
  src: url("fonts/Oswald/Oswald-Light.ttf"); }

@font-face {
  font-family: Oswald-ExtraLight;
  src: url("fonts/Oswald/Oswald-ExtraLight.ttf"); }

@font-face {
  font-family: Oswald-Regular;
  src: url("fonts/Oswald/Oswald-Regular.ttf"); }

@font-face {
  font-family: Oswald-Medium;
  src: url("fonts/Oswald/Oswald-Medium.ttf"); }

@font-face {
  font-family: Oswald-Bold;
  src: url("fonts/Oswald/Oswald-Bold.ttf"); }

@font-face {
  font-family: CreteRound-SemiBoldItalic;
  src: url("fonts/CreteRound/CreteRound-Italic.ttf"); }

@font-face {
  font-family: Raleway-Medium;
  src: url("fonts/Raleway/Raleway-medium.ttf"); }

@font-face {
  font-family: Raleway-Regular;
  src: url("fonts/Raleway/Raleway-regular.ttf"); }

@font-face {
  font-family: Raleway-Bold;
  src: url("fonts/Raleway/Raleway-bold.ttf"); }

@font-face {
  font-family: Raleway-Light;
  src: url("fonts/Raleway/Raleway-Light.ttf"); }

@font-face {
  font-family: Raleway-ExtraLight;
  src: url("fonts/Raleway/Raleway-ExtraLight.ttf"); }

@font-face {
  font-family: Raleway-LightItalic;
  src: url("fonts/Raleway/Raleway-LightItalic.ttf"); }

#intro-wrapper {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: rgba(51, 33, 30, 0.985); }
  #intro-wrapper a {
    text-decoration: none;
    cursor: pointer; }

#intro {
  position: absolute;
  width: 100%;
  top: -400px; }

#intro-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #252527; }

#intro-logo {
  border-width: 2px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  height: 70px;
  background-image: url("images/Hockeybaas_print_groen2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  left: 3%;
  top: -400px; }

#start {
  background-color: rgba(255, 183, 133, 0.2);
  width: 550px;
  height: 345px;
  position: absolute;
  left: 70%;
  margin-left: -225px;
  top: -500px;
  border-style: solid;
  border-color: white;
  border-width: 8px; }

#start-button {
  width: 542px;
  height: 30px;
  color: black;
  position: relative;
  background-color: white;
  font-family: 'anton';
  font-size: 20px;
  letter-spacing: 0.10em;
  -webkit-filter: blur(0.3px);
  filter: blur(0.3px);
  cursor: pointer;
  text-align: center;
  -webkit-animation: hoverText 2.5s ease none;
  animation: hoverText 2.5s ease none;
  border-style: solid;
  border-color: white;
  border-width: 8px;
  margin-top: 10px; }

#start-button:hover {
  color: #2cdf11 !important; }

#start-text {
  text-align: left;
  font-family: 'Anton';
  position: relative;
  color: white;
  margin-left: 20px;
  margin-top: -5px;
  line-height: 150px;
  font-size: 120px; }

#section-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #252527;
  top: 4000px;
  display: none;
  overflow: hidden; }

.home-grid {
  position: relative;
  float: left;
  opacity: 0;
  overflow: hidden;
  cursor: pointer; }
  .home-grid img {
    position: absolute;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    text-align: center; }
  .home-grid h1 {
    font-size: 4vw;
    font-family: Oswald-ExtraLight;
    color: #f8f9fb;
    text-transform: uppercase;
    font-weight: lighter; }
  .home-grid h2 {
    font-size: 4vw;
    font-family: Oswald-Regular;
    color: #f8f9fb;
    text-transform: uppercase;
    font-weight: bold; }

.blur {
  -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
  filter: blur(25px);
  -webkit-transition: 0.03s;
  -o-transition: 0.03s;
  transition: 0.03s; }

.home-grid:hover img {
  -webkit-transform: scale(1.12);
  -ms-transform: scale(1.12);
  transform: scale(1.12);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px); }

#bar {
  position: absolute;
  width: 100%;
  height: 6vh;
  background: #252527;
  Z-index: 4;
  text-align: right; }

#bartext {
  opacity: 0;
  position: absolute;
  text-align: right;
  color: #f8f9fb;
  right: 0.5%;
  margin-top: 1.5vh;
  font-size: 1.8vh;
  letter-spacing: 0.05em;
  font-family: Oswald-ExtraLight; }
  #bartext span {
    color: #2cdf11; }

#bar-logo {
  opacity: 0;
  margin-top: 0.4vh;
  margin-left: 0.4vh;
  height: 85%;
  float: left; }

#grid-1 {
  position: relative;
  width: 100%;
  height: 66%; }

#home-picture-1 {
  width: 50%;
  height: 66%;
  z-index: 1;
  float: left; }
  #home-picture-1 h2:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #f8f9fb;
    height: 2px; }

.emboss {
  position: absolute;
  -webkit-box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.15), inset -1px -1px 0px rgba(0, 0, 0, 0.15);
  box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.15), inset -1px -1px 0px rgba(0, 0, 0, 0.15);
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }

#text-container-1 {
  position: absolute;
  top: 14%;
  left: 8%;
  width: 21vw; }

#text-container-2 {
  position: absolute;
  top: 14%;
  right: 8%;
  width: 22.5vw; }

#text-container-3 {
  position: absolute;
  left: 8%;
  top: 50%;
  width: 23vw; }

#text-container-4 {
  position: absolute;
  right: 8%;
  top: 50%;
  width: 15.5vw; }

#home-picture-3 {
  width: 50%;
  height: 66%;
  float: right; }
  #home-picture-3 h1, #home-picture-3 h2 {
    text-align: right !important; }
  #home-picture-3 h2:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #f8f9fb;
    height: 2px; }

#home-picture-5 {
  width: 50%;
  height: 34%;
  float: left; }
  #home-picture-5 span {
    color: #2cdf11; }

#grid-2 {
  position: relative;
  width: 100%;
  height: 34%;
  text-align: center; }

#home-picture-6 {
  width: 50%;
  height: 34%;
  float: right;
  text-align: right; }

#Road2Tokyo {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(6, 0, 44, 0.85);
  color: white;
  font-size: 16px;
  font-family: Raleway-Regular;
  letter-spacing: 0.1em;
  z-index: 0; }

#context {
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -500px;
  width: 1000px;
  height: 500px;
  background-color: white;
  z-index: -1;
  border-radius: 10px 10px 10px 10px;
  opacity: 0; }

#shield {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: -1; }

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.5;
  z-index: 10; }

.close:hover {
  opacity: 1;
  cursor: pointer; }

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #2cdf11; }

.close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

@-webkit-keyframes hoverText {
  0% {
    color: transparent; }
  80% {
    color: transparent; }
  100% {
    color: black; } }

@keyframes hoverText {
  0% {
    color: transparent; }
  80% {
    color: transparent; }
  100% {
    color: black; } }

#context h1 {
  text-align: center;
  font-family: Raleway-Medium;
  color: #585757;
  font-size: 24px;
  letter-spacing: 0.05em;
  -webkit-filter: blur(0.3px);
  filter: blur(0.3px); }

#context h2 {
  font-family: Raleway-Regular;
  text-align: center;
  color: #585757;
  font-size: 32px;
  letter-spacing: 0.05em;
  -webkit-filter: blur(0.3px);
  filter: blur(0.3px); }

.chapter {
  width: 880px;
  margin-top: 70px;
  margin-left: 70px;
  overflow: hidden;
  position: absolute;
  height: auto;
  opacity: 0;
  position: absolute;
  top: 0px; }

.container {
  position: relative;
  width: 860px;
  height: auto;
  float: left;
  text-align: center;
  font-family: Raleway-Regular;
  letter-spacing: 0.05em;
  overflow: hidden; }

#voor-topsporters {
  position: absolute; }
  #voor-topsporters h1 {
    margin-top: 50px; }

#voor-topsporters-text {
  float: left; }

.streepje {
  height: 1px;
  background-color: #2cdf11;
  width: 860px;
  margin-top: 80px;
  float: left; }

#streepje1 {
  margin-bottom: 80px; }

.heading {
  position: absolute;
  margin-top: -22px;
  width: 400px;
  height: 40px;
  background-color: white;
  left: 50%;
  margin-left: -200px; }

.ul1 {
  margin-top: 20px;
  list-style-type: none;
  text-align: left;
  float: left; }
  .ul1 span {
    margin-top: 0px; }
  .ul1 h1 {
    margin-top: 0px;
    font-size: 24px; }
  .ul1 li {
    vertical-align: top;
    width: 195px;
    height: 455px;
    display: inline-block;
    margin-right: 20px; }
  .ul1 li:first-child {
    margin-left: -50px;
    padding-left: 10px; }
  .ul1 li:last-child {
    margin-right: 0px; }

.titel {
  width: 230px;
  height: 80px; }
  .titel h1 {
    text-align: left !important; }

#quote {
  width: 860px;
  margin-bottom: 0px;
  margin-top: 30px;
  float: left; }
  #quote h1 {
    text-align: left; }

#naam {
  float: left;
  font-family: Raleway-LightItalic;
  text-align: right;
  width: 860px;
  height: 50px;
  font-size: 24px;
  margin-top: 20px; }

#heading2 {
  width: 350px;
  margin-left: -175px; }

.lijstpersonen {
  margin-top: 50px;
  margin-left: -40px;
  list-style-type: none; }
  .lijstpersonen .hockeybaas {
    width: 860px;
    height: 200px;
    margin-top: 60px;
    float: left; }
  .lijstpersonen img {
    float: left;
    height: 200px; }

.profiel {
  position: relative;
  margin-left: 200px; }
  .profiel .gegeven {
    margin-top: 2px;
    text-align: left;
    list-style-type: none;
    height: 25px;
    width: 590px; }
  .profiel .gegeven:first-child {
    font-family: Raleway-Bold; }

#door-topstudenten {
  position: absolute; }

#dt-streepje1 {
  margin-bottom: 80px; }

#dt-onderdelen {
  list-style-type: none;
  padding: 0; }
  #dt-onderdelen li:last-child {
    margin-bottom: 0px; }

#dt-header {
  width: 860px;
  height: 70px;
  margin-bottom: 30px;
  float: left;
  font-size: 35px; }

.dt-onderdeel {
  height: 240px;
  width: 860px;
  margin-bottom: 50px;
  float: left; }

.dt-picture {
  height: 240px;
  width: 400px;
  float: left;
  background-color: green;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.dt-left {
  float: left; }

.dt-right {
  float: right; }

.dt-textleft {
  float: left;
  margin-left: 15px; }

.dt-textright {
  float: right;
  margin-right: 15px; }

.dt-text-container {
  width: 370px;
  height: 240px; }

#dt-picture1 {
  background-image: url(cssimages/dt-persoonlijkecoach.jpg); }

#dt-picture2 {
  background-image: url(cssimages/dt-sportsmeetsbusiness.jpg); }

#dt-picture3 {
  background-image: url(cssimages/dt-trainingsprogramma.jpg); }

#dt-picture4 {
  background-image: url(cssimages/dt-verantwoordelijkheid.jpg); }

.dt-streepje {
  float: left; }

#dt-streepje1 {
  margin-top: 50px; }

#dt-streepje2 {
  margin-top: 60px;
  margin-bottom: 30px; }
  #dt-streepje2 .heading {
    width: 600px;
    margin-left: -300px; }

#dt-heading2 {
  width: 500px;
  margin-left: -250px; }

#join-our-team {
  position: absolute; }
  #join-our-team .heading {
    width: 350px;
    margin-left: -175px; }
  #join-our-team h3 {
    color: #585757; }

#jot-streepje1 {
  margin-top: 50px;
  margin-bottom: 70px; }
  #jot-streepje1 .heading {
    width: 450px;
    margin-left: -225px;
    margin-top: -30px; }
    #jot-streepje1 .heading h2 {
      font-size: 50px; }

#jot-lijst {
  list-style-type: none;
  padding: 0; }
  #jot-lijst h1 {
    font-size: 20px; }

.jot-item {
  width: 400px;
  height: 180px;
  margin-top: 50px;
  text-align: center; }
  .jot-item h1 {
    margin-bottom: 20px; }

.jot-itemleft {
  float: left; }

.jot-itemright {
  float: right; }

.jot-titel {
  float: left;
  height: 30px;
  width: 100%;
  margin-bottom: 15px; }

.jot-text {
  float: left; }

#jot-streepje2 {
  margin-top: 40px;
  margin-bottom: 70px; }

#schrijfjein-text {
  width: 860px;
  height: 200px;
  float: left; }

#jot-contact-container {
  width: 860px;
  heigth: 300px;
  float: left;
  margin-top: -100px; }

#jot-contact {
  list-style-type: none;
  padding: 0; }
  #jot-contact li {
    width: 300px;
    float: left;
    overflow: hidden;
    height: 250px;
    text-align: center;
    margin-left: 87px; }
    #jot-contact li img {
      width: 200px; }
  #jot-contact li:last-child {
    float: right;
    margin-right: 87px;
    margin-left: 0px; }

#partners {
  position: absolute; }

.p-streepje {
  margin-bottom: 60px; }
  .p-streepje .heading {
    width: 300px;
    margin-left: -150px; }

#p-lijst {
  list-style-type: none;
  margin-top: 20px;
  padding: 0; }
  #p-lijst h3 {
    margin-top: 20px;
    margin-bottom: 10px; }

.partner {
  width: 860px;
  height: auto;
  float: left;
  margin-top: 50px; }

#kellerman-logo img {
  width: 400px; }

#ormit-logo img {
  width: 250px; }

@media screen and (max-width: 1000px) {
  #home-picture-1 {
    width: 100%; }
  #home-picture-3 {
    width: 100%;
    float: left; }
  #home-picture-5 {
    width: 100%; }
  #home-picture-6 {
    width: 100%;
    float: left; }
  .home-grid h1, .home-grid h2 {
    font-size: 8vw; }
  #text-container-1 {
    width: 42vw; }
  #text-container-2 {
    width: 45vw; }
  #text-container-3 {
    width: 46vw; }
  #text-container-4 {
    width: 31vw; } }

* {
  margin: 0px auto; }

body {
  overflow-y: scroll; }
