@font-face {
  font-family: Anton;
  src: url("fonts/Oswald/Oswald-Light.ttf"); }

@font-face {
  font-family: Oswald-ExtraLight;
  src: url("fonts/Oswald/Oswald-ExtraLight.ttf"); }

@font-face {
  font-family: Oswald-Regular;
  src: url("fonts/Oswald/Oswald-Regular.ttf"); }

@font-face {
  font-family: Oswald-Medium;
  src: url("fonts/Oswald/Oswald-Medium.ttf"); }

@font-face {
  font-family: Oswald-Bold;
  src: url("fonts/Oswald/Oswald-Bold.ttf"); }

@font-face {
  font-family: CreteRound-SemiBoldItalic;
  src: url("fonts/CreteRound/CreteRound-Italic.ttf"); }

@font-face {
  font-family: Raleway-Medium;
  src: url("fonts/Raleway/Raleway-medium.ttf"); }

@font-face {
  font-family: Raleway-Regular;
  src: url("fonts/Raleway/Raleway-regular.ttf"); }

@font-face {
  font-family: Raleway-Bold;
  src: url("fonts/Raleway/Raleway-bold.ttf"); }

#intro-wrapper {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: rgba(51, 33, 30, 0.985); }
  #intro-wrapper a {
    text-decoration: none;
    cursor: pointer; }

#intro {
  position: absolute;
  width: 100%;
  top: -400px; }

#intro-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 33, 30, 0.985); }

#intro-logo {
  border-width: 2px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  height: 7%;
  background-image: url("images/Hockeybaas_print_groen2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  left: 3%;
  top: -400px; }

#start {
  background-color: rgba(255, 183, 133, 0.2);
  width: 30%;
  position: absolute;
  left: 56%;
  top: -500px;
  border-style: solid;
  border-color: white; }

#start-button {
  width: 100%;
  color: black;
  position: relative;
  background-color: white;
  font-family: 'anton';
  letter-spacing: 0.10em;
  -webkit-filter: blur(0.3px);
  filter: blur(0.3px);
  cursor: pointer;
  text-align: center;
  -webkit-animation: hoverText 2.5s ease none;
  animation: hoverText 2.5s ease none; }

#start-button:hover {
  color: #2cdf11 !important; }

#start-text {
  text-align: left;
  font-family: 'Anton';
  position: relative;
  color: white;
  margin-left: 20px;
  margin-top: 10px;
  line-height: 150px; }

#section-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 33, 30, 0.985);
  top: 4000px;
  display: none; }

.home-grid {
  position: relative;
  float: left;
  opacity: 0;
  overflow: hidden;
  cursor: pointer; }
  .home-grid img {
    position: absolute;
    -webkit-transition: 0.75s;
    -o-transition: 0.75s;
    transition: 0.75s;
    text-align: center; }
  .home-grid h1 {
    font-size: 100px;
    font-family: Oswald-ExtraLight;
    position: absolute;
    color: #f8f9fb;
    text-transform: uppercase;
    font-weight: lighter;
    margin-top: 110px;
    margin-left: 50px; }
  .home-grid h2 {
    font-size: 100px;
    font-family: Oswald-Regular;
    position: absolute;
    color: #f8f9fb;
    text-transform: uppercase;
    margin-left: 50px;
    margin-top: 210px;
    font-weight: bold; }
  .home-grid h2:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #f8f9fb;
    height: 2px; }

.home-grid:hover img {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px); }

#grid-1 {
  position: relative;
  width: 100%;
  height: 66%; }

#home-picture-1 {
  width: 50%;
  height: 100%;
  z-index: 1; }

.emboss {
  position: absolute;
  -webkit-box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.15), inset -1px -1px 0px rgba(0, 0, 0, 0.15);
  box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.15), inset -1px -1px 0px rgba(0, 0, 0, 0.15);
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }

.text-container {
  position: absolute;
  right: 110px;
  width: 570px;
  background-color: aqua; }
  .text-container h1, .text-container h2 {
    width: inherit;
    height: auto; }

#home-picture-3 {
  width: 50%;
  height: 100%; }
  #home-picture-3 h1, #home-picture-3 h2 {
    text-align: right; }
  #home-picture-3 h2:after {
    position: absolute; }

#home-picture-5 {
  width: 50%;
  height: 100%; }

#grid-2 {
  position: relative;
  width: 100%;
  height: 34%;
  text-align: center; }

#home-picture-6 {
  width: 50%;
  height: 100%; }

#Road2Tokyo {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(6, 0, 44, 0.85);
  color: white;
  font-size: 16px;
  font-family: Raleway-Regular;
  letter-spacing: 0.1em;
  z-index: 0; }

.context-wrapper {
  margin-top: 100px;
  width: 1250px; }

@-webkit-keyframes hoverText {
  0% {
    color: transparent; }
  80% {
    color: transparent; }
  100% {
    color: black; } }

@keyframes hoverText {
  0% {
    color: transparent; }
  80% {
    color: transparent; }
  100% {
    color: black; } }

* {
  margin: 0px auto; }

body {
  overflow-y: scroll; }
