@font-face {
  font-family: Anton;
  src: url("fonts/Oswald/Oswald-Light.ttf"); }

@font-face {
  font-family: Oswald-ExtraLight;
  src: url("fonts/Oswald/Oswald-ExtraLight.ttf"); }

@font-face {
  font-family: Oswald-Regular;
  src: url("fonts/Oswald/Oswald-Regular.ttf"); }

@font-face {
  font-family: Oswald-Medium;
  src: url("fonts/Oswald/Oswald-Medium.ttf"); }

@font-face {
  font-family: Oswald-Bold;
  src: url("fonts/Oswald/Oswald-Bold.ttf"); }

@font-face {
  font-family: CreteRound-SemiBoldItalic;
  src: url("fonts/CreteRound/CreteRound-Italic.ttf"); }

@font-face {
  font-family: Raleway-Medium;
  src: url("fonts/Raleway/Raleway-medium.ttf"); }

@font-face {
  font-family: Raleway-Regular;
  src: url("fonts/Raleway/Raleway-regular.ttf"); }

@font-face {
  font-family: Raleway-Bold;
  src: url("fonts/Raleway/Raleway-bold.ttf"); }

#intro-wrapper {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: rgba(51, 33, 30, 0.985); }
  #intro-wrapper a {
    text-decoration: none;
    cursor: pointer; }

#intro {
  position: absolute;
  width: 100%;
  top: -400px; }

#intro-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #252527; }

#intro-logo {
  border-width: 2px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  height: 70px;
  background-image: url("images/Hockeybaas_print_groen2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  left: 3%;
  top: -400px; }

#start {
  background-color: rgba(255, 183, 133, 0.2);
  width: 550px;
  height: 345px;
  position: absolute;
  left: 70%;
  margin-left: -225px;
  top: -500px;
  border-style: solid;
  border-color: white;
  border-width: 8px; }

#start-button {
  width: 542px;
  height: 30px;
  color: black;
  position: relative;
  background-color: white;
  font-family: 'anton';
  font-size: 20px;
  letter-spacing: 0.10em;
  -webkit-filter: blur(0.3px);
  filter: blur(0.3px);
  cursor: pointer;
  text-align: center;
  -webkit-animation: hoverText 2.5s ease none;
  animation: hoverText 2.5s ease none;
  border-style: solid;
  border-color: white;
  border-width: 8px;
  margin-top: 10px; }

#start-button:hover {
  color: #2cdf11 !important; }

#start-text {
  text-align: left;
  font-family: 'Anton';
  position: relative;
  color: white;
  margin-left: 20px;
  margin-top: -5px;
  line-height: 150px;
  font-size: 120px; }

#section-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #252527;
  top: 4000px;
  display: none; }

.home-grid {
  position: relative;
  float: left;
  opacity: 0;
  overflow: hidden;
  cursor: pointer; }
  .home-grid img {
    position: absolute;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    text-align: center; }
  .home-grid h1 {
    font-size: 75px;
    font-family: Oswald-ExtraLight;
    position: absolute;
    color: #f8f9fb;
    text-transform: uppercase;
    font-weight: lighter;
    margin-top: 110px;
    margin-left: 50px; }
  .home-grid h2 {
    font-size: 75px;
    font-family: Oswald-Regular;
    position: absolute;
    color: #f8f9fb;
    text-transform: uppercase;
    margin-left: 50px;
    margin-top: 210px;
    font-weight: bold; }

.blur {
  -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
  filter: blur(25px);
  -webkit-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s; }

.home-grid:hover img {
  -webkit-transform: scale(1.12);
  -ms-transform: scale(1.12);
  transform: scale(1.12);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px); }

#bar {
  position: absolute;
  width: 100%;
  height: 45px;
  background: #252527;
  Z-index: 4; }

#grid-1 {
  position: relative;
  width: 100%;
  height: 66%; }

#home-picture-1 {
  width: 50%;
  height: 100%;
  z-index: 1; }
  #home-picture-1 h2:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #f8f9fb;
    height: 2px; }

.emboss {
  position: absolute;
  -webkit-box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.15), inset -1px -1px 0px rgba(0, 0, 0, 0.15);
  box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.15), inset -1px -1px 0px rgba(0, 0, 0, 0.15);
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }

.text-container {
  position: absolute;
  right: 110px;
  width: 420px; }
  .text-container h1, .text-container h2 {
    width: inherit;
    height: auto; }

#home-picture-3 {
  width: 50%;
  height: 100%; }
  #home-picture-3 h1, #home-picture-3 h2 {
    text-align: right; }
  #home-picture-3 h2:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #f8f9fb;
    height: 2px; }

#home-picture-5 {
  width: 50%;
  height: 100%; }
  #home-picture-5 h2 {
    margin-top: 160px;
    text-align: left; }
  #home-picture-5 span {
    color: #2cdf11; }

#grid-2 {
  position: relative;
  width: 100%;
  height: 34%;
  text-align: center; }

#home-picture-6 {
  width: 50%;
  height: 100%; }
  #home-picture-6 h2 {
    margin-top: 160px;
    text-align: right; }

#Road2Tokyo {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(6, 0, 44, 0.85);
  color: white;
  font-size: 16px;
  font-family: Raleway-Regular;
  letter-spacing: 0.1em;
  z-index: 0; }

#context {
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -625px;
  width: 1250px;
  height: 500px;
  background-color: white;
  z-index: -1;
  border-radius: 10px 10px 10px 10px;
  opacity: 0; }

#shield {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: -1; }

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.5;
  z-index: 10; }

.close:hover {
  opacity: 1;
  cursor: pointer; }

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #2cdf11; }

.close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

@-webkit-keyframes hoverText {
  0% {
    color: transparent; }
  80% {
    color: transparent; }
  100% {
    color: black; } }

@keyframes hoverText {
  0% {
    color: transparent; }
  80% {
    color: transparent; }
  100% {
    color: black; } }

h1 {
  margin-left: 100px;
  margin-top: 100px;
  margin-right: 100px;
  text-align: center;
  font-family: Raleway-Medium;
  color: #585757;
  font-size: 30px;
  letter-spacing: 0.05em;
  -webkit-filter: blur(0.3px);
  filter: blur(0.3px); }

* {
  margin: 0px auto; }

body {
  overflow-y: scroll; }
