#context {  
    h1 {
        text-align: center;
        font-family: "Raleway";
        font-weight:700;
        color: $textgrey;
        font-size:24px;
        letter-spacing:0.05em;
        filter:blur(0.3px);
    }

    h2 {
        font-family: "Raleway";
        font-weight:500;
        text-align: center;
        color: $textgrey;
        font-size:32px;
        letter-spacing:0.05em;
        filter:blur(0.3px);
    }
}

.chapter {
    width:($containerwidth+20px);
    margin-top:70px;
    margin-left:70px;
    overflow: hidden;
    position: absolute;
    height:auto;
    opacity:0;
    position:absolute;
    top:0px;
}


.container {
    position: relative;
    width:($containerwidth);
    height:auto;
    float:left;
    text-align: center;
    font-family: "Raleway";
    font-weight:400;
    letter-spacing: 0.05em; 
    overflow:hidden;
}

.streepje {
    height:1px;
    background-color: $green;
    width: $containerwidth;
    margin-top:80px;
    float:left;
}

.heading {
    position: absolute;
    margin-top:-22px;
    width:400px;
    height:40px;
    background-color: white;
    left:50%;
    margin-left:-(200px);
}

.lijstpersonen {
    float:left;
    margin-top:50px;
    margin-left:-40px;
    .persoon {
        width:$containerwidth;
        height:200px;
        margin-top:60px;
        float:left;
    }
    list-style-type: none;
    img {
        float:left;
        height:200px;
        border-radius: 5px 5px 5px 5px;
    }
}

.profiel {
    position: relative;
    margin-left:200px;
    .gegeven {
        margin-top:2px;
        text-align: left;
        list-style-type:none;
        height:25px;
        width:($containerwidth+(-270px));
    }
    .gegeven:first-child {
        font-family: 'Raleway';
        font-weight: 700;
    }
}