#dt-onderdelen {
    list-style-type: none;
}

#dt-header {
    width:$containerwidth;
    height:100px;
    background-color:red;
    float:left;
}

#testjeweet {
    background-color:blue;
    position: absolute;
}