@font-face {
    font-family: Anton;
    src: url('fonts/Oswald/Oswald-Light.ttf');
}

@font-face {
    font-family: CreteRound-SemiBoldItalic;
    src: url('fonts/CreteRound/CreteRound-Italic.ttf');
}

@font-face {
    font-family: Raleway-Medium;
    src: url('fonts/Raleway/Raleway-medium.ttf');
}

@font-face {
    font-family: Raleway-Regular;
    src: url('fonts/Raleway/Raleway-regular.ttf');
}

@font-face {
    font-family: Raleway-Bold;
    src: url('fonts/Raleway/Raleway-bold.ttf');
}