#section-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:$darkgrey;
    top:4000px;
    display:none;
    overflow: hidden;
}

.home-grid {
    position: relative;
    float:left;
    opacity:0;
    overflow: hidden;
    cursor: pointer;
    img {
        position:absolute;
        transition: 0.4s;
        text-align: center;
    }
    h1 {
        font-size:4vw;
        font-family: "Oswald";
        font-weight: 200;
        color: $offwhite;
        text-transform: uppercase;
        font-weight: lighter;
    }
    h2 {
        font-size:4vw;
        font-family: "Oswald";
        font-size: 400;
        color: $offwhite;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.blur {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    transition: 0.03s;
}

.computer:hover {
    -webkit-box-shadow: inset 0 0 200px #000000;
    -moz-box-shadow: inset 0 0 200px #000000;
    box-shadow: inset 0 0 200px #000000;
}

.computer:hover img {
    transform: translateZ(0);
    transform: scale3D(1.12,1.12,1);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

#bar {
    float:left;
    opacity: 0;
    width:100%;
    height:6vh;
    background: $darkgrey;
    Z-index:4;
    text-align: right;
}

.bartext {
    position: absolute;
    text-align:right;
    color:$offwhite;
    right:0.5%;
    margin-top:1.5vh;
    font-size:1.8vh;
    letter-spacing: 0.05em;
    font-family: "Oswald";
    font-weight: 200;
    span {
        color:$green;
    }
}

#bartext-computer {
    opacity: 0;
}

#bartext-mobile {
    opacity: 1;
}

#bar-logo {
    opacity:0;
    margin-top:0.4vh;
    margin-left:0.4vh;
    height:85%;
    float:left;
}

#grid-1 {
    position:relative;
    width:100%;
    height:66%;
}

#home-picture-1 {
    width: 50%;
    height: 62%;
    z-index: 1;
    float:left;
    h2:after{
      content:"";
      position:absolute;
      left:0;
      bottom:0;
      right:0;
      margin:auto;
      background:$offwhite;
      height:2px;
    }
}

.emboss {
    position:absolute;
    box-shadow: inset 1px 1px 0px rgba(255,255,255,0.15),
                inset -1px -1px 0px rgba(0,0,0,0.15);
    top:0;
    bottom:0;
    width:100%;
    height:100%;
}

#text-container-1 {
    position: absolute;
    top:8%;
    left: 8%;
    width: 21vw;
}

#text-container-2 {
    position: absolute;
    top:8%;
    right: 8%;
    width: 22.5vw;
}

#text-container-3 {
    position: absolute;
    left:8%;
    top:50%;
    width: 26vw;
}

#text-container-4 {
    position: absolute;
    right:8%;
    top:50%;
    width: 15.5vw;
}

#home-picture-3 {
    width: 50%;
    height: 62%;
    float:right;
    h1, h2 {
        text-align:right!important;
    }
    h2:after{
      content:"";
      position:absolute;
      left:0;
      bottom:0;
      right:0;
      margin:auto;
      background:$offwhite;
      height:2px;
    }
}

#home-picture-5 {
    width: 50%;
    height: 34%;
    float:left;
    span {
        color:$green;
    }
}

#grid-2 {
    position:relative;
    width: 100%;
    height: 32vh;
    text-align: center;
}

#home-picture-6 {
    width: 50%;
    height: 32vh;
    float:right;
    text-align: right;
}

#Road2Tokyo {
    opacity:0;
    position: absolute;
    width:100%;
    height:100%;
    background-color:rgba(6, 0, 44, 0.85);
    color:white;
    font-size:16px;
    font-family: "Raleway";
    font-weight: 400;
    letter-spacing: 0.1em;
    z-index: 0;
}

#context {
    position: absolute;
    top :30px;
    left:50%;
    margin-left: -500px;
    width:1000px;
    height:500px;
    background-color: white;
    z-index: -1;
    border-radius: 10px 10px 10px 10px;
    opacity:0;
}

#shield {
    position: absolute;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0);
    z-index:-1;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.5;
    z-index: 10;
}
.close:hover {
  opacity: 1;
    cursor: pointer;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
    background-color: $green;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}