#section-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:$darkgrey;
    top:4000px;
    display:none;
}

.home-grid {
    position: relative;
    float:left;
    opacity:0;
    overflow: hidden;
    cursor: pointer;
    img {
        position:absolute;
        transition: 0.4s;
        text-align: center;
    }
    h1 {
        font-size:75px;
        font-family: Oswald-ExtraLight;
        position: absolute;
        color: $offwhite;
        text-transform: uppercase;
        font-weight: lighter;
        margin-top:110px;
        margin-left:50px;
    }
    h2 {
        font-size:75px;
        font-family: Oswald-Regular;
        position: absolute;
        color: $offwhite;
        text-transform: uppercase;
        margin-left:50px;
        margin-top:210px;
        font-weight: bold;
    }
}

.blur {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    transition: 0.7s;
}

.home-grid:hover img {
    transform: scale(1.12);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

#bar {
    position: absolute;
    width:100%;
    height:5%;
    background: $darkgrey;
    Z-index:4;
}

#grid-1 {
    position:relative;
    width:100%;
    height:66%;
}

#home-picture-1 {
    width: 50%;
    height: 100%;
    z-index: 1;
    h2:after{
      content:"";
      position:absolute;
      left:0;
      bottom:0;
      right:0;
      margin:auto;
      background:$offwhite;
      height:2px;
    }
}

.emboss {
    position:absolute;
    box-shadow: inset 1px 1px 0px rgba(255,255,255,0.15),
                inset -1px -1px 0px rgba(0,0,0,0.15);
    top:0;
    bottom:0;
    width:100%;
    height:100%;
}

.text-container {
    position: absolute;
    right:110px;
    width: 420px;
    h1, h2 {
        width: inherit;
        height: auto;
    }
}

#home-picture-3 {
    width: 50%;
    height: 100%;
    h1, h2 {
        text-align:right;
    }
    h2:after{
      content:"";
      position:absolute;
      left:0;
      bottom:0;
      right:0;
      margin:auto;
      background:$offwhite;
      height:2px;
    }
}

#home-picture-5 {
    width: 50%;
    height: 100%;
    h2 {
        margin-top:160px;
        text-align: left;
    }
    span {
        color:$green;
    }
}

#grid-2 {
    position:relative;
    width: 100%;
    height: 34%;
    text-align: center;
}

#home-picture-6 {
    width: 50%;
    height: 100%;
    h2 {
        margin-top:160px;
        text-align:right;
    }
}

#Road2Tokyo {
    opacity:0;
    position: absolute;
    width:100%;
    height:100%;
    background-color:rgba(6, 0, 44, 0.85);
    color:white;
    font-size:16px;
    font-family: Raleway-Regular;
    letter-spacing: 0.1em;
    z-index: 0;
}

.context-wrapper {
    margin-top:100px;
    width:1250px;
}