#section-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:$background;
    top:4000px;
    display:none;
}

.home-grid {
    position: relative;
    float:left;
    opacity:0;
    overflow: hidden;
    text-align: center;
    img {
        position:absolute;
        transition: 0.75s;
        text-align: center;
    }
}

.home-grid:hover img {
    transform: scale(1.15);
}

#grid-1 {
    position:relative;
    width:100%;
    height:66%;
}

#home-picture-1 {
    width: 50%;
    height: 100%;
    z-index: 1;
    img {
        width:900px;
        top:-500px;
        left:0px;
    }
}

.emboss-1 {
    position:absolute;
    box-shadow: inset 1px 1px 0px rgba(255,255,255,0.15),
                inset -1px -1px 0px rgba(0,0,0,0.15);
    top:0;
    bottom:0;
    width:50%;
    height:100%;
}
#home-picture-3 {
    width: 50%;
    height: 100%;
}

#home-picture-5 {
    width: 50%;
    height: 100%;
}

.emboss-2 {
    position:absolute;
    box-shadow: inset 2x 2px 0px rgba(255,255,255,0.15),
                inset -2px -2px 0px rgba(0,0,0,0.15);
    top:0;
    bottom:0;
    width:25%;
    height:100%;
}

#grid-2 {
    position:relative;
    width: 100%;
    height: 34%;
    text-align: center;
}

#home-picture-6 {
    width: 50%;
    height: 100%;
}

#Road2Tokyo {
    opacity:0;
    position: absolute;
    width:100%;
    height:100%;
    background-color:rgba(6, 0, 44, 0.85);
    color:white;
    font-size:16px;
    font-family: Raleway-Regular;
    letter-spacing: 0.1em;
    z-index: 0;
}

.context-wrapper {
    margin-top:100px;
    width:1250px;
}