#intro-wrapper{
    position: absolute;
    overflow: hidden;
    height:100%;
    width:100%;
    background-color: $background;
    a {
        text-decoration: none;
        cursor: pointer;
    }
}

#intro {
    position: absolute;
    width: 100%;
    top: -400px;
}

#intro-cover {
    position: absolute;
    width:100%;
    height:100%;
    background-color: rgba(51, 33, 30, 0.985);
}

#intro-logo{
    border-width:2px;
    border-style: solid;
    border-color: rgba(255,255,255,0.5);
    position: absolute;
    height:7%;
    background-image: url("images/Hockeybaas_print_groen2.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    left:3%;
    top:-400px;
}

#start {
    background-color:rgba(255, 183, 133, 0.20);
    width:30%;
    position: absolute;
    left:56%;
    top:-400px;
    border-style: solid;
    border-color: white;
}

#start-button {
    width: 100%;
    color:rgba(0,0,0,1);
    position: relative;
    background-color: white;
    font-family: 'anton';
    letter-spacing: 0.10em;
    filter: blur(0.3px);
    cursor: pointer;
    text-align: center;
    animation: hoverText 2.5s ease none;
}

#start-button:hover {
    color:$green!important;
}

#start-text {
    text-align: left;
    font-family: 'Anton';
    position:relative;
    color:white;
    margin-left:20px;
    margin-top:10px;
    line-height: 150px;
}