#intro-wrapper{
    position: absolute;
    overflow: hidden;
    height:100%;
    width:100%;
    background-color: $background;
    a {
        text-decoration: none;
        cursor: pointer;
    }
}

#intro {
    position: absolute;
    width: 100%;
    top: -400px;
}

#intro-cover {
    position: absolute;
    width:100%;
    height:100%;
    background-color: $darkgrey;
}

#intro-logo{
    border-color: rgba(255,255,255,0.5);
    position: absolute;
    height:3.5vw;
    background-image: url("images/Hockeybaas_print_groen2.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    left:3%;
    top:-400px;
}

#start {
    background-color:rgba(255, 183, 133, 0.20);
    width:36vw;
    height:22vw;
    position: absolute;
    left:70%;
    margin-left: -18vw;
    top:-30vw;
    border-style: solid;
    border-width: 0.4vw;
    border-color: white;
}

#start-button {
    width: 36.4vw;
    height:2.6vw;
    color:rgba(0,0,0,1);
    position: relative;
    background-color: white;
    font-family: 'anton';
    font-size: 1.3vw;
    padding-top:0.4vw;
    margin-top:1.3vw;
    margin-left:-0.05vw;
    letter-spacing: 0.10em;
    filter: blur(0.3px);
    cursor: pointer;
    text-align: center;
    animation: hoverText 2.5s ease none;
}

#start-button:hover {
    color:$green!important;
}

#start-text {
    text-align: left;
    font-family: 'Anton';
    position:relative;
    color:white;
    font-size:1.5vw;
    margin-left:1vw;
    line-height:2.2vw;
    span {
        font-size:5.6vw;
        line-height:6vw;
    }
}