@media screen and (max-width: 1000px) {
    #home-gridlinksboven {
        width:100%;
    }
    
    #home-gridrechtsboven {
        width:100%;
        float:left;
    }
    #home-gridlinksonder {
        width:100%;
    }
    #home-gridrechtsonder {
        width:100%;
        float:left;
    }
    .home-grid {
        h1,h2 {
            font-size: 8vw;
        }
    }
    #home-tekstlinksboven {
        width:42vw;
    }
    #home-tekstrechtsboven {
        width:45vw;
    }
    #home-tekstlinksonder {
        width:52vw;
    }
    #home-tekstrechtsonder {
        width:31vw;
    }
}

@media screen and (min-width: 670px) {
    #home-bartextcomputer {
        opacity: 1;
    }
    
    #home-bartextmobile {
        opacity: 0;
    }
}