@media screen and (max-width: 1000px) {
    #home-picture-1 {
        width:100%;
    }
    
    #home-picture-3 {
        width:100%;
        float:left;
    }
    #home-picture-5 {
        width:100%;
    }
    #home-picuture-6 {
        width:100%;
        float:left;
    }
}