@media screen and (max-width: 1000px) {
    #home-picture-1 {
        margin-top:6vh;
        width:100%;
    }
    
    #home-picture-3 {
        width:100%;
        float:left;
    }
    #home-picture-5 {
        width:100%;
    }
    #home-picture-6 {
        width:100%;
        float:left;
    }
    .home-grid {
        h1,h2 {
            font-size: 8vw;
        }
    }
    #text-container-1 {
        width:42vw;
    }
    #text-container-2 {
        width:45vw;
    }
    #text-container-3 {
        width:46vw;
    }
    #text-container-4 {
        width:31vw;
    }
}

@media screen and (max-width: 670px) {
    #bartext-computer {
        opacity: 0;
    }
    
    #bartext-mobile {
        opacity: 1;
    }
}