h1 {
    margin-left:100px;
    margin-top:100px;
    margin-right:100px;
    text-align: center;
    font-family: Raleway-Medium;
    color: $textgrey;
    font-size:30px;
    letter-spacing:0.05em;
    filter:blur(0.3px);
}