#voor-topsporters {
    position: absolute;
    h1 {
        margin-top:50px;
    }
}

#vt-text {
    float:left;
}

#vt-streepje1 {
    margin-bottom: 80px;
}

.vt-programmaonderdelen {
    span{
            margin-top:0px;
        }
    h1 {
        margin-top:0px;
        font-size:24px;
    }
    margin-top:20px;
    list-style-type: none;
    text-align: left;
    float:left;
    li{
        vertical-align: top;
        width:$quarterwidth;
        height:455px;
        display: inline-block;
        margin-right:$quartermarginwidth;
    }
    li:first-child {
        margin-left:-50px;
        padding-left:10px;
    }
    li:last-child {
        margin-right:0px;
    }
}

.vt-programmaonderdeel {
    width:230px;
    height:80px;
    h1{
        text-align: left !important;
    }
}

#vt-quote {
    width:$containerwidth;
    h1 {
        text-align: left;
    }
    margin-bottom:0px;
    margin-top:30px;
    float:left;
}

#vt-interview {
    margin-top:80px;
    width:$containerwidth;
    height:310px;
    float:left;
    margin-bottom:0px;
    text-align:left;
    margin-bottom:70px;
}

#vt-interviewfoto {
    float:left;
    height:250px;
    padding:35px;
    margin-top:-35px;
    margin-left:-35px;
    border-radius: 40px 40px 40px 40px;
}

#vt-quotenaam {
    float:left;
    font-family:"Raleway";
    font-weight: 300;
    font-style:italic;
    text-align: right;
    width:$containerwidth;
    height:50px;
    font-size:24px;
    margin-top:20px;
}

#vt-headingtopsporters {
    width:300px;
    margin-left:-150px;
}