#context {  
    h1 {
        text-align: center;
        font-family: Raleway-Medium;
        color: $textgrey;
        font-size:24px;
        letter-spacing:0.05em;
        filter:blur(0.3px);
        margin-top: 50px;
    }

    h2 {
        font-family: Raleway-Regular;
        text-align: center;
        color: $textgrey;
        font-size:26px;
        letter-spacing:0.05em;
        filter:blur(0.3px);
    }
}

#voor-topsporters {
    position: absolute;
}

.chapter {
    width:($containerwidth+20px);
    margin-top:70px;
    margin-left:70px;
    overflow: hidden;
    position: absolute;
    max-height:800px;
    opacity:0;
    position:absolute;
    top:0px;
}

#voor-topsporters-text {
    float:left;
}

.streepje {
    height:1px;
    background-color: $green;
    width: $containerwidth;
    margin-top:80px;
    float:left;
}

#streepje1 {
    margin-bottom: 80px;
}

.heading {
    position: absolute;
    margin-top:-20px;
    width:400px;
    height:40px;
    background-color: white;
    left:50%;
    margin-left:-(200px);
}

.ul1 {
    span{
            margin-top:0px;
        }
    h1 {
        margin-top:0px;
        font-size:24px;
    }
    margin-top:20px;
    list-style-type: none;
    text-align: left;
    float:left;
    li{
        vertical-align: top;
        width:$quarterwidth;
        height:455px;
        display: inline-block;
        margin-right:$quartermarginwidth;
    }
    li:first-child {
        margin-left:-50px;
        padding-left:10px;
    }
    li:last-child {
        margin-right:0px;
    }
}

.titel {
    width:230px;
    height:80px;
    h1{
        text-align: left !important;
    }
}

.container {
    position: relative;
    width:($containerwidth);
    height:auto;
    float:left;
    text-align: center;
    font-family: Raleway-Regular;
    letter-spacing: 0.05em; 
    overflow:hidden;
}

#quote {
    width:$containerwidth;
    h1 {
        text-align: left;
    }
    margin-bottom:0px;
    margin-top:30px;
    float:left;
}

#naam {
    float:left;
    font-family:Raleway-LightItalic;
    text-align: right;
    width:$containerwidth;
    height:50px;
    font-size:24px;
    margin-top:20px;
}

#heading2 {
    width:350px;
    margin-left:-175px;
}

#hockeybazen {
    margin-top:50px;
    margin-left:-40px;
    .hockeybaas {
        width:$containerwidth;
        height:200px;
        margin-top:60px;
        float:left;
    }
    list-style-type: none;
    img {
        float:left;
        height:200px;
    }
}
.profiel {
    position: relative;
    margin-left:200px;
    .gegeven {
        margin-top:2px;
        text-align: left;
        list-style-type:none;
        height:25px;
        width:($containerwidth+(-270px));
    }
    .gegeven:first-child {
        font-family:Raleway-Bold;
    }
}