#context {  
    h1 {
        text-align: center;
        font-family: Raleway-Medium;
        color: $textgrey;
        font-size:30px;
        letter-spacing:0.05em;
        filter:blur(0.3px);
    }

    h2 {
        font-family: Raleway-Regular;
        text-align: center;
        color: $textgrey;
        font-size:26px;
        letter-spacing:0.05em;
        filter:blur(0.3px);
    }
}

.streepje {
    position:relative;
    height:1px;
    background-color: $green;
    width: 1050px;
    margin-top:120px;
}

.heading {
    margin-top:3px;
    position: absolute;
    width:400px;
    height:40px;
    background-color: white;
    left:50%;
    margin-left:-200px;
    top:-20px;
}

#voor-topsporters {
    width:1050px;
    margin-top:100px;
    margin-left:100px;
    height:800px;
    overflow: hidden;
    position: relative;
    max-height:800px;
}