#context {  
    h1 {
        text-align: center;
        font-family: Raleway-Medium;
        color: $textgrey;
        font-size:30px;
        letter-spacing:0.05em;
        filter:blur(0.3px);
        margin-top: 50px;
    }

    h2 {
        font-family: Raleway-Regular;
        text-align: center;
        color: $textgrey;
        font-size:26px;
        letter-spacing:0.05em;
        filter:blur(0.3px);
    }
}

.streepje {
    position:relative;
    height:1px;
    background-color: $green;
    width: 1050px;
    margin-top:120px;
}

.heading {
    margin-top:3px;
    position: absolute;
    width:400px;
    height:40px;
    background-color: white;
    left:50%;
    margin-left:-200px;
    top:-20px;
}

#voor-topsporters {
    width:1080px;
    margin-top:70px;
    margin-left:100px;
    overflow: hidden;
    position: relative;
    max-height:800px;
    ul {
        
    }
}

.ul1 {
    span{
            margin-top:0px;
        }
    h1 {
        margin-top:0px;
        font-size:24px;
    }
    margin-top:20px;
    list-style-type: none;
    text-align: left;
    float:left;
    position: relative;
    li{
        vertical-align: top;
        width:230px;
        height:400px;
        display: inline-block;
        margin-right:41px;
    }
    li:first-child {
        width:220px;
        margin-left:-50px;
        padding-left:10px;
    }
    li:last-child {
        margin-right:0px;
    }
}

.titel {
    width:230px;
    height:80px;
}

.container {
    position: relative;
    width:1050px;
    height:auto;
    float:left;
    text-align: center;
    font-family: Raleway-Regular;
    letter-spacing: 0.05em; 
}

#streepje2 {
    margin-top: 500px;
}

.quote-teken {
    position: absolute;
    width:25px;
    color:$green;
    font-size:70px;
    font-family: arial;
}

#quote-teken-1 {
    margin-top:40px;
}

#quote-teken-2 {
    top:1190px;
    left:1030px;
    
}

#quote {
    display: inline-block;
    width:1000px;
    h1 {
        text-align: left;
    }
    margin-bottom:0px;
    span {
        color:$green;
        font-family:Times-new-Roman;
        font-family: cursive;
    }
    float:right;
}

#naam {
    float:left;
    font-family:Raleway-LightItalic;
    font-size:30px;
    text-align: right;
    width:1050px;
    height:50px;
    font-size:30px;
    margin-top:10px;
}

#streepje3 {
    margin-top:350px;
}

#heading2 {
    width:350px;
    margin-left:-175px;
}

#hockeybazen {
    margin-top:50px;
    margin-left:-40px;
    .hockeybaas {
        width:1050px;
        height:200px;
        margin-top:60px;
    }
    list-style-type: none;
    img {
        float:left;
        height:200px;
    }
}
.profiel {
    position: relative;
    margin-left:200px;
    .gegeven {
        margin-top:2px;
        text-align: left;
        list-style-type:none;
        height:25px;
        width:800px;
    }
    .gegeven:first-child {
        font-family:Raleway-Bold;
    }
}