#test {
    width:700px;
    height:450px;
    background-color:red;
    position: relative;
    overflow:visible;
    margin-left: 200px;
    margin-top:200px
}

#test2 {
    width:300px;
    height:200px;
    background-color:blue;
    margin: 0 auto;
}

/* de foto's moeten dus met javascript gemaakt worden, maar dit werkt wel! */