#test {
    width:700px;
    height:1900px;
    max-height: 450px;
    background-color:red;
    position: relative;
    overflow: auto;
    margin-left: 200px;
    margin-top:200px
}

#test2 {
    width:700px;
    height:800px;
    background-color:blue;
    margin: 0 auto;
    overflow:visible;
}