@import "mobilecommoncontext";
@import "mobiledoortopstudenten";
@import "mobilejoinourteam";
@import "mobilepartners";
@import "mobilevariables";
@import "mobilevoortopsporters";

* {
    list-style-type:none;
    ul {
        padding:0;
    }
    font-family: "Raleway";
    font-weight:400;
    color:$textgrey;
    text-align: center;
}

.ul1 {
    span{
            margin-top:0px;
        }
    h1 {
        margin-top:0px;
        font-size:24px;
    }
    margin-top:20px;
    list-style-type: none;
    text-align: center;
    li{
        vertical-align: top;
        width:$quarterwidth;
        height:350px;
        display: inline-block;
        margin-right:10px;
        margin-left:10px;
    }
}

.titel {
    width:auto;
    height:60px;
    h1{
        text-align: center;
    }
}

#naam {
    float:left;
    font-family:"Raleway";
    font-style: italic;
    font-weight: 300;
    text-align: right;
    width:100%;
    height:50px;
    font-size:24px;
    margin-top:20px;
}

#streepje2 {
    margin-top:40px;
    margin-bottom:40px;
}

#streepje3 {
    margin-top:50px;
    margin-bottom:0px;
}

#heading2 {
    width:350px;
    margin-left:-175px;
}

#hot-header {
    margin-top:50px;
}

#interview {
    margin-top:80px;
    width:auto;
    height:auto;
    float:left;
    margin-bottom:0px;
    text-align:left;
    margin-bottom:20px;
    margin-bottom:30px;
}

#interviewfoto {
    float:left;
    height:35vw;
    padding:35px;
    margin-top:-35px;
    margin-left:-35px;
    border-radius: 40px 40px 40px 40px;
}

#first-hockeybaas {
    margin-top:100px;
}

#dt-onderdelen {
    text-align: center;
    width:100%;
    margin-left:3vw;
    float:left;
    margin-top:50px;
    list-style-type: none;
    padding:0;
    li:last-child {
        margin-bottom: 0px;
    }
}

#dt-header {
    width:$containerwidth;
    height:70px;
    margin-bottom:30px;
    float:left;
    font-size:35px;
}

.dt-onderdeel {
    height:250px;
    width:94%;
    margin-bottom:50px;
    float:left;
}

.dt-picture {
    border-radius: 5px 5px 5px 5px;
    height:$studentheight;
    width:400px;
    float:left;
    background-color:green;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dt-left {
    float:left;
}

.dt-right {
    float: right;
}

.dt-textleft{
    float:left;
    margin-left:15px;
}

.dt-textright{
    float:right;
    margin-right:15px;
}

.dt-text-container{
    width:370px;
    height:$studentheight;
}

#dt-picture1 {
    background-image: url(cssimages/dt-persoonlijkecoach.jpg);
}

#dt-picture2 {
    background-image: url(cssimages/dt-sportsmeetsbusiness.jpg);
}

#dt-picture3 {
    background-image: url(cssimages/dt-trainingsprogramma.jpg);
}

#dt-picture4 {
    background-image: url(cssimages/dt-verantwoordelijkheid.jpg);
}

.dt-streepje {
    float:left;
}

#dt-streepje1 {
    margin-top:50px;
    margin-bottom: 50px;
}

#dt-streepje2 {
    margin-top:60px;
    margin-bottom:30px;
    .heading{
        width:600px;
        margin-left:-300px;
    }
}

#dt-heading2 {
    width: 500px;
    margin-left:-250px;
}

#jot-streepje1 {
    margin-bottom: 40px;
}

#jot-lijst {
    list-style-type: none;
    padding: 0;
    h1 {
        font-size:20px;
    }
}

.jot-item {
    width: 400px;
    height: 180px;
    margin-top:50px;
    text-align:center;
    h1{
        margin-bottom:20px;
    }
}

.jot-itemleft {
    float:left;
}

.jot-itemright {
    float:right;
}

.jot-titel {
    float: left;
    height:30px;
    width:100%;
    margin-bottom:15px;
}

.jot-text {
    float:left;
}

#jot-contact-container {
    width:100%;
    heigth:300px;
    float:left;
    margin-top:10px;
    margin-bottom:50px;
}

#jot-contact {
    list-style-type: none;
    padding:0;
    li{
        width:300px;
        float:left;
        overflow:hidden;
        height:250px;
        text-align: center;
        img{
            width:200px;
        }
        margin-left:87px;
    }
    li:last-child {
        float:right;
        margin-right:87px;
        margin-left:0px;
    }
}

#jot-streepje2 {
    margin-bottom:50px;
}

#schrijfjein-text {
    width: 100%;
    height:auto;
    float:left;
}

@media screen and (min-width: 750px) {
    .lijstpersonen {
        margin-top:-100px;
        margin-left:20px;
        .hockeybaas {
            width:100%;
            height:20vw;
            margin-top:20vw;
            float:left;
        }
        list-style-type: none;
        img {
            float:left;
            width:35vw;
        }  
    }

    .profiel {
        position: relative;
        .gegeven {
            margin-top:2px;
            text-align: left;
            list-style-type:none;
            height:25px;
            float:right;
            width: 50vw;
        }
        .gegeven:first-child {
            font-family:"Raleway";
            font-weight:700;
        }
    }
    
    #streepje3 {
        margin-bottom:-100px;
    }
}

.p-streepje {
    margin-bottom:60px;
    .heading {
        width:300px;
        margin-left:-150px;
    }
}

#p-lijst {
    list-style-type: none;
    margin-top:20px;
    padding:0;
    h3{
        margin-top:20px;
        margin-bottom:10px;
    }
}

.partner {
    width:100%;
    height:auto;
    float:left;
    margin-top:50px;
}

#kellerman-logo {
    img {
        width:400px;
    }
}

#ormit-logo {
    img {
        width:250px;
    }
}

@media screen and (max-width: 880px) {
    
    .dt-onderdeel {
        height:auto;
        width:94%;
        margin-bottom:20px;
        margin-top:0px;
        text-align: center;
    }
    
    .dt-text-container{
        width:100%;
        height:auto;
    }
    
    .dt-picture {
        text-align: center;
        margin-left:0px;
        margin-right:0px;
        margin-top:20px;
    }
    
    .jot-item {
        width:100%;
        float:left;
        height:auto;
    }
    
    #jot-contact-container {
        width:100%;
    }
    
    #jot-contact {
        width:100%;
        li {
            float:left;
            width:100%; 
            margin-bottom:20px;
            display: inline-block;
            margin-left:0px;
            margin-right:0px;
        }
        li:last-child {
            margin-left:0px;
            margin-right:0px;
        }
    }
    
    #jot-streepje2 {
        margin-top:70px;
    }
}

//arrow:
button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline:0;
}

svg {
  padding: 5px;
}

.arrow {
    margin-right:90%;
  cursor: pointer;
  top: 50%;
  margin-top: 0px;
  width: 70px;
  height: 90px;
}

.left {
  left: 42%;
}

.left:hover polyline,
.left:focus polyline {
  stroke-width: 7;
}

.left:active polyline {
  stroke-width: 9;
  transition: all 100ms ease-in-out;
}

polyline {
  transition: all 250ms ease-in-out;
    stroke:rgba(44, 223, 17, 1);
}
