@font-face {
    font-family: Anton;
    src: url('fonts/Oswald/Oswald-Light.ttf');
}

@font-face {
    font-family: Oswald-ExtraLight;
    src: url('fonts/Oswald/Oswald-ExtraLight.ttf');
}

@font-face {
    font-family:Oswald-Regular;
    src: url('fonts/Oswald/Oswald-Regular.ttf');
}

@font-face {
    font-family:Oswald-Medium;
    src: url('fonts/Oswald/Oswald-Medium.ttf');
}

@font-face {
    font-family:Oswald-Bold;
    src: url('fonts/Oswald/Oswald-Bold.ttf');
}

@font-face {
    font-family: CreteRound-SemiBoldItalic;
    src: url('fonts/CreteRound/CreteRound-Italic.ttf');
}

@font-face {
    font-family: Raleway-Medium;
    src: url('fonts/Raleway/Raleway-medium.ttf');
}

@font-face {
    font-family: Raleway-Regular;
    src: url('fonts/Raleway/Raleway-regular.ttf');
}

@font-face {
    font-family: Raleway-Bold;
    src: url('fonts/Raleway/Raleway-bold.ttf');
}

@font-face {
    font-family: Raleway-Light;
    src: url('fonts/Raleway/Raleway-Light.ttf');
}

@font-face {
    font-family: Raleway-ExtraLight;
    src: url('fonts/Raleway/Raleway-ExtraLight.ttf');
}

@font-face {
    font-family: Raleway-LightItalic;
    src: url('fonts/Raleway/Raleway-LightItalic.ttf');
}